@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  background-color: #04152d;
}

.lazy-load-image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.lazy-load-image-background > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.CircularProgressbar-text {
  font-size: 34px;
  font-weight: 700;
  fill: #04152d;
}

.CircularProgressbar-trail {
  stroke: transparent;
}
